body{
    padding: 5px;
    margin: 7px;   
}
header{
    display: flex;
}
#logo_name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 40px;
}
#logo_name a{
    font-family: 'Gabarito', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Palanquin Dark', sans-serif;
    text-decoration: none;
   
}
#logo_name img{
     width: 36px;
    margin-left: 29px;
}
#search_bar{
     display: flex;   
     height: 20px;
     background-color: #D7EAF3;
     width: 200px;
     height: 30px;
     top: 4px;
     left: -44px;


}
#search_bar input{
    border: none;
    background-color: #D7EAF3;
    
}
#search_bar i{
     color: #05386B;
     margin: 5px;
     
     
     
}
#search_bar ::placeholder{
    font-family: 'Gabarito', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Palanquin Dark', sans-serif;
   
    font-size: 15px;
    font-weight: bold;
}
nav{
    display: flex;
    margin-left: 30px;
    margin-right: 30px;

}
nav #blogs{
    display: flex;
    flex-direction: column;
     margin: 4px;
     align-items: center;

}
nav a{
    font-family: 'Gabarito', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Palanquin Dark', sans-serif;
    text-decoration: none;
}
nav #communities{
    display: flex;
    flex-direction: column;
    margin: 4px;
    align-items: center;
}

nav #activities{
    display: flex;
    flex-direction: column;
    margin: 4px;
    align-items: center;
}

nav #more{
    display: flex;
    flex-direction: column;
    margin: 4px;
    align-items: center;
}
