* {
    font-family: 'Gabarito', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Palanquin Dark', sans-serif;
}

body {
    padding: 5px;
    margin: 7px;
    height: 2201px;
    width: auto;
    background-image: url(../imgs/community_based_website_background.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

/*Aside community tab*/
aside {
    display: block;
    max-width: 27%;
}

aside section {
    background-color: #ffffff;
    padding: 7px;
    margin: 30px;
}

#vlogs {
    width: 73%;

}

#vlogs article {
    background-color: #ffffff;
    padding: 10px;
    margin: 30px;
}

.main_body {
    display: flex;
}

body {
    padding: 0px;

    margin-top: 5px;
}